body{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
header{
    margin: 0;
}
.blo{
    font-size: 10px;
    margin-top: 100px;
    min-height: 1005px;
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: center;    
}
.bl{
   
  min-height: 1005px; 
width: 50%;
  font-size: 17px;
margin-left:50px ;
     
 
}
.pc{
min-height: 1005px;
   width: 50%;
    display: flex;
    flex-direction: column;
}

.bl2{

    background-image: url(image/Capture2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
    width: 100%;
    
    }
.bl3{
    background-image: url(image/screen-0.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    
    padding-right: 400px;
    width: 100%;

}
.boc{
    margin-top: 70px;
    margin-bottom: 20px;
    background-color:gainsboro;
   min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
   align-items: center;  
}
.boc1{
    width: 50%;
    min-height: 800px;
    
}
.boc2{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boc3{
    border-bottom: solid 1px;
    margin-left:10px ;
    margin-right: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cls{
    border-bottom: solid 1px;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}

.sc2{
    background-image: url(image/orig\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 350px;
    width: 50%;
    margin-bottom:140px;  
}
.blo1{
    margin-top: 70px;
   min-height: 805px;
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: center;    
}
.cont{
    background-color:white;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    
}
.cont1{
    font-weight: lighter;
    font-size: 25px;
    background-color:white;
    box-shadow: dimgray 4px 2px 2px 2px;
    margin-left: 300px;
    margin-right:300px ;
text-align: left;
    padding: 20px;
    border-radius: 12%;
}
.sc3{
    background-image: url(image/orig\ \(2\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 350px;
    width: 50%;
    margin-bottom:140px; 
}
footer{
    margin-top: 100px;
   min-height:400px;
    width: 100%;
 display: flex;
 flex-direction: column;
 justify-content:space-between ;
 background-color: black;
    
    
}
.fo{
    margin-top: 20px;
    width: 100%;
   min-height:80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fo1{
   width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.foo{
    width: 15%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
      
}
@media screen and (max-width: 900px) {
    .blo, .bl, .pc, .boc,
     .boc1, .boc2,  .cls, 
     .sc2, .blo1, .cont, .cont1,
      .sc3, .footer, .fo, .fo1  {
        overflow-x: hidden;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        
    }
   
    .boc3{
        overflow-x: hidden;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .p{
        width: 50%;
        color: white;
       text-align: center;
    }
    .p1{
        width: 30%;
        text-align: center;
    }
    .fo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fo1{
        width: 40%;
        display: flex;
    flex-direction: row;
    justify-content: space-between;  
    }
    .foo{
        width: 20%;
        display: flex;
        flex-direction: column;
      justify-content: space-between;
    }
}